{% extends "gallery/base.html" %}

{% block gallery-head %}
<script type="text/javascript">
    function leftArrowPressed() {
        {% with post.get_previous as p %} 
        {% if p %}
        window.location = "{% url 'gallery:post' p.pk %}";
        {% endif %}
        {% endwith %}
    }

    function rightArrowPressed() {
        {% with post.get_next as p %} 
        {% if p %}
        window.location = "{% url 'gallery:post' p.pk %}";
        {% endif %}
        {% endwith %}
    }

    document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
                leftArrowPressed();
                break;
            case 39:
                rightArrowPressed();
                break;
        }
    };
</script>
{% endblock %}

{% block title %}{{ post.title }} af {{ post.author }}{% endblock %}

{% block menu %}
    <li id="menu-prev">
        {% with post.get_previous as p %} 
        {% if p %}
        <a href="{% url 'gallery:post' p.pk %}">Forrige</a>
        {% else %}
        <p class="menu-passive">Forrige</p>
        {% endif %}
        {% endwith %}
    </li>
    <li id="menu-posts"><a href="{% url 'gallery:posts' %}">Galleri</a></li>
    <li id="menu-random"><a href="{% url 'gallery:random' %}">Tilfældig</a></li>
    <li id="menu-next">
        {% with post.get_next as p %} 
        {% if p %}
        <a href="{% url 'gallery:post' p.pk %}">Næste</a>
        {% else %}
        <p class="menu-passive">Næste</p>
        {% endif %}
        {% endwith %}
    </li>
{% endblock %}

{% block content %}
<div id="post">
    <div id="post-header">
        <h1>{{ post.title }}</h1>
    </div>

    <img id="post-img" title="{{ post.title }} af {{ post.author }}" src="{{ post.image.url }}" />

    <div id="post-body">
        <p>{{ post.pub_date.date }}</p>
    </div>

    <div id="post-footer">
        <p>Lavet af {{ post.author }}</p>
    </div>
</div>
{% endblock %}

