.menu-passive {
    margin: 0;
    padding: 0;
    color: lightgrey;
}

#post {
    text-align: center;
}

#post-header h1 { 
    font-size: 25px;
    font-weight: normal;
}

#post-body {
    margin-bottom: 20px;
}

#post-body a {
    color: black;
}

#post-img {
    width: 100%;
}

#post-text {
    display: inline-block;
    text-align: left;
}

#gallery-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#gallery-posts li {
    display: inline-block;
    margin: 1%;
    padding: 0;
    width: 28%;
}

#gallery-posts a {
    width: 100%;
    margin: 0;
    padding: 0;
}

#gallery-posts img {
    width: 100%;
    margin: 0;
    padding: 0;
}
